<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
    }
</style>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <h1>Administración</h1>
        </div>
        <div class="col-2" style="margin-left: auto">
            <form action="/roscadereyes/logout" method="post">
                <button type="submit" class="button pink expand mt-0">Salir</button>
            </form>
        </div>
    </div>
</div>

<section class="consulta">
    <div class="container">
        <label class="radio-inline"><input type="radio" name="optradio" id="perfil" checked
                                           onclick="cargarFormularios();">Agregar empleado</label>
        <label class="radio-inline"><input type="radio" name="optradio" id="evento" onclick="cargarFormularios();">Agregar
            foto evento</label>
    </div>
</section>

<section class="form-ganadores" id="sectionFormGanadores">
    <form id="form_ganadores" action="/roscadereyes/empleado/seleccionar/" enctype="multipart/form-data" method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mb-5">Hola Rey Mago aquí podrás ingresar a tus ganadores.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="ganadores">Número de empleado</label>
                        <input type="text" name="ganadores" id="ganadores" onblur="fillDatos();">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="ganadores_nombre">Nombre</label>
                        <input type="text" name="ganadores_nombre" id="ganadores_nombre" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="filtroRegionFoto">Región</label>
                        <input type="text" name="filtroRegionFoto" id="filtroRegionFoto" required readonly="readonly">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="localidad">Localidad</label>
                        <input type="text" name="localidad" id="localidad" required readonly="readonly">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="antiguedad">Antigüedad </label>
                        <input type="text" name="antiguedad" id="antiguedad" required readonly="readonly">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="photo">Foto</label>
                        <input type="file" name="photo" id="photoPerfil">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button id="submitEmpleado" class="button pink expand mt-0" type="submit" disabled="disabled">
                        Guardar Empleado
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="form-ganadores" id="sectionFormGanadoresEvento">
    <form id="form_ganadores_evento" action="/roscadereyes/upload/"
          enctype="multipart/form-data" method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mb-5">Añadir fotos del evento</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="select-holder">
                        <label for="filtroRegiones">Región</label>
                        <select name="filtroRegionFotoEvento" id="filtroRegionFotoEvento" required
                                onchange="cargarLocalidadesPorRegion();">
                            <option>Seleccione</option>
                            {{#each regionesDisponibles}}
                                <option value="{{this._id}}">{{this.nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="select-holder">
                        <label for="localidad">Localidad</label>
                        <!--<input type="text" name="localidad" id="localidad" required="">-->
                        <select name="localidadEvento" id="localidadEvento">

                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ctrl-holder">
                        <label for="photo">Foto</label>
                        <input type="file" name="photo" id="photoEvento" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button class="button pink expand mt-0" type="submit">Subir foto</button>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="consulta">
    <div class="container">
        <br>
        <!--<div class="row">-->
        <!--<div class="col-md-12">-->
        <!--<div class="col-12 col-md-9">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<p>-->
        <!--Seleccionados por region-->
        <!--</p>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<form>-->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="col-md-4">-->
        <!--<div class="ctrl-holder">-->
        <!--<label for="">Cantidad actual</label>-->
        <!--<input type="text" name="cantidad_seleccionados" id="cantidad_seleccionados"-->
        <!--required="">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--<button type="submit" class="button pink expand mt-0"-->
        <!--onclick="event.preventDefault();modificarLimitesSeleccionados();">-->
        <!--Modificar-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
        <!--</div>-->
        <!--<div class="col-md-6"></div>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="row">-->
        <!--<div class="col-md-12">-->
        <!--<div class="col-12 col-md-9">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<p>-->
        <!--Modificar Rol-->
        <!--</p>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<form role="form" action={{actionForm}} method="POST" id="formEstatus">-->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="col-md-4">-->
        <!--<div class="select-holder">-->
        <!--<label for="filtroRegionesAdmin">Regiones</label>-->
        <!--<select id="filtroRegionesAdmin" name="filtroRegiones" class="form-control"-->
        <!--title="Regiones"-->
        <!--onchange="cargarEmpleadosPorRegion();">-->
        <!--<option>Seleccione</option>-->
            <!--{{#each regiones}}-->
        <!--<option value="{{this._id}}">{{this.nombre}}</option>-->
            <!--{{/each}}-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
        <!--<div class="select-holder">-->
        <!--<label for="filtroEmpleadosAdmin">Empleados</label>-->
        <!--<select id="filtroEmpleadosAdmin" name="filtroEmpleados" class="form-control"-->
        <!--title="Empleados"-->
        <!--onchange="seleccionarEmpleado();">-->
        <!--<option>Seleccione</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
        <!--<button type="submit" class="button pink expand mt-0"-->
        <!--onclick="event.preventDefault();cambioEstatus();">-->
        <!--Salvar cambios-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
        <!--</div>-->
        <!--<div class="col-md-6"></div>-->
        <!--</div>-->
        <!--<br>-->

        {{#ifeq rol "Admin"}}

            <div class="row">
                <div class="col-md-12">
                    <div class="col-12 col-md-9">
                        <ul>
                            <li>
                                <p>
                                    Asignar Premios
                                </p>
                            </li>
                        </ul>
                    </div>
                    <form role="form" onsubmit="event.preventDefault();asignarPremio();" id="formAsignarPremio">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="select-holder">
                                        <label for="empleadosSeleccionados">Empleados Seleccionados</label>
                                        <select id="empleadosSeleccionados" name="empleadosSeleccionados"
                                                class="form-control"
                                                title="Empleados">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="select-holder">
                                        <label for="premio">Premios</label>
                                        <select id="premios" name="premios" class="form-control" title="Premios">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" class="button pink expand mt-0">
                                        Salvar cambios
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-6"></div>
            </div>

        {{/ifeq}}

    </div>

</section>


<section class="rosca-galeria">

    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <p class="mt-2 mb-5">
                    <a href="/roscadereyes/slider" target="_blank">Ver todas las fotos</a>
                    <!--<a href="#" class="load-gallery">Ver todas las fotos</a>-->
                </p>
            </div>
            <div class="col-sm-8">
                <div class="h1 mb-5">Evento</div>
            </div>
        </div>


        <div class="gallery-grid">

            {{#length evento 0}}
                <p class="mt-2 mb-5" style="font-style: italic">
                    Aun no hay fotos de eventos disponibles
                </p>
            {{/length}}

            {{#each evento as |file index|}}
                <div class="photo-element {{#bigger index 8}}hidden{{/bigger}}">
                    <!--<div class="photo-element">-->
                    <a href="{{file.archivoDir}}" target="_blank">
                        <img src={{file.archivoDir}} alt="{{index}}">
                    </a>
                    <span class="info">{{file.datosArchivo.region.nombre}}</span>
                </div>
            {{/each}}

        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="h1 mb-5">Perfiles</div>
            </div>
            <div class="col-sm-4 sm-text-right">
                <p class="mt-2 mb-5">
                    <!--<a href="#" class="load-gallery">Ver todas las fotos</a>-->
                </p>
            </div>
        </div>
        <div class="gallery-grid">

            {{#length perfiles 0}}
                <p class="mt-2 mb-5" style="font-style: italic">
                    Aun no hay agregados empleados
                </p>
            {{/length}}


            <!--<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar...">-->
            <!--<br>-->
            <!--<br>-->

        </div>
        <div class="gallery-grid">
            <ul id="myUL">

                <!--{{#each perfiles as |empleado index|}}-->
                    <!--<li><a>{{empleado}}</a></li>-->
                <!--{{/each}}-->

            </ul>
        </div>
    </div>
</section>

<section class="consulta">
    <div class="container">
        <br>

        <div class="row">
            <div class="col-12 col-xs-12">
                <table id="empleadosAdmin" class="" style="width:100%">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#each perfiles as |empleado index|}}
                        <tr>
                            <td>{{empleado}}</td>
                        </tr>
                    {{/each}}

                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</section>



{{#each scripts}}
    <script src="{{script}}"></script>
{{/each}}
<script>
    // cargarEmpleadosSeleccionados();
    // cargarPremiosSinAsignar();
    // cargarLimitesSeleccionados();
    // listEmpleadosParaFotos();
    // listRegionesParaFotos();
    cargarFormularios();

    // loadIds();

    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    $(document).ready(function () {
        $('#empleadosAdmin').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ resultados por pagina",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay resultados",
                "infoFiltered": "(Filtrado de un total de _MAX_ filas)",
                "search": "Busqueda:",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Proxima",
                    "previous": "Previa"
                }
            }
        });
    });


</script>
