<section class="consulta">
    <div class="container" style="margin-top:40px">
        <p class="h1 m-b-50">
            Galeria de eventos
        </p>
        <div class="row">
            <div class="col-12 col-sm-7 col-md-5 flex f-col justify-end">

                <form action="/upload" enctype="multipart/form-data" method="POST">
                    <div>
                        <div class="floating-input">
                            <select id="region" name="region" class="selectWrapper">
                                {{#each regiones}}
                                    <option value="{{this.id}}">{{this.nombre}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <br>
                        <br>
                        <div class="floating-input">
                            <select id="empleado" name="empleado" class="selectWrapper">
                                {{#each empleados}}
                                    <option value="{{this.id}}">{{this.nombre}} {{this.apellidos}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <br>
                        <br>
                        <div class="floating-input">
                            <label><input type="file" id="photo" name="photo" class="custom-file-input"/></label>
                        </div>

                        <div class="button-section">
                            <button type="submit" class="button pink">Subir Foto</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>
