<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
    }
</style>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <h1>Reyes Magos</h1>
        </div>
        <div class="col-6">
            <a href="/roscadereyes/admin" class="button pink expand mt-0">Agregar concursantes y fotos</a>
        </div>
    </div>
</div>

<section class="rosca-galeria">

    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <p class="mt-2 mb-5">
                    <a href="/roscadereyes/slider" target="_blank">Ver todas las fotos</a>
                    <!--<a href="#" class="load-gallery">Ver todas las fotos</a>-->
                </p>
            </div>
            <div class="col-sm-8">
                <div class="h1 mb-5">Evento</div>
            </div>
        </div>

        <div class="gallery-grid">

            {{#length evento 0}}
                <p class="mt-2 mb-5" style="font-style: italic">
                    Aun no hay fotos de eventos disponibles
                </p>
            {{/length}}

            {{#each evento as |file index|}}
                <!--<div class="photo-element {{#bigger index 8}}hidden{{/bigger}}">-->
                <div class="photo-element">
                    <a href="{{file.archivoDir}}" target="_blank">
                        <img src={{file.archivoDir}} alt="{{index}}">
                    </a>
                    <span class="info">{{file.datosArchivo.region.nombre}}</span>
                </div>
            {{/each}}

        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="h1 mb-5">Perfiles</div>
            </div>
            <div class="col-sm-4 sm-text-right">
                <p class="mt-2 mb-5">
                    <!--<a href="#" class="load-gallery">Ver todas las fotos</a>-->
                </p>
            </div>
        </div>
        <div class="gallery-grid">
            <div class="col-12 col-xs-12">
                <table id="empleadosAdmin" class="" style="width:100%">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#each perfiles as |empleado index|}}
                        <tr>
                            <td>{{empleado}}</td>
                        </tr>
                    {{/each}}

                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="gallery-grid">

            {{#length perfiles 0}}
                <p class="mt-2 mb-5" style="font-style: italic">
                    Aun no hay agregados empleados
                </p>
            {{/length}}


            <!--<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar...">-->
            <!--<br>-->
            <!--<br>-->

        </div>
        <div class="gallery-grid">
            <ul id="myUL">

                <!--{{#each perfiles as |empleado index|}}-->

                    <!--<li><a>{{empleado}}</a></li>-->

                <!--{{/each}}-->


            </ul>

        </div>
    </div>
</section>




<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    $(document).ready(function () {
        $('#empleadosAdmin').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ resultados por pagina",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay resultados",
                "infoFiltered": "(Filtrado de un total de _MAX_ filas)",
                "search": "Busqueda:",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Proxima",
                    "previous": "Previa"
                }
            }
        });
    });

</script>