<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <h1>Reyes Magos</h1>
        </div>
        <div class="col-6">
            <a href="/roscadereyes/admin" class="button pink expand mt-0">Agregar concursantes y fotos</a>
        </div>
    </div>
</div>

<section class="rosca-galeria">

    <div class="container">

        <div class="row">
            {{#bigger evento.length 0}}
                {{#bigger perfiles.length 0}}
                    <div class="col-sm-8">
                        <p class="mt-2 mb-5">
                            <a href="/roscadereyes/slider" target="_blank">Ver todas las fotos</a>
                            <!--<a href="#" class="load-gallery">Ver todas las fotos</a>-->
                        </p>
                    </div>
                {{/bigger}}
            {{/bigger}}
            <div class="col-sm-8">
                <div class="h1 mb-5">Evento</div>
            </div>
        </div>

        <div class="gallery-grid">

            {{#length evento 0}}
                <p class="mt-2 mb-5" style="font-style: italic">
                    Aun no hay fotos de eventos disponibles
                </p>
            {{/length}}

            {{#each evento as |file index|}}
                <div class="photo-element {{#bigger index 8}}hidden{{/bigger}}">
                    <a href="{{file.archivoDir}}" target="_blank">
                        <img src={{file.archivoDir}} alt="{{index}}">
                    </a>
                    <span class="info">{{file.datosArchivo.region.nombre}}</span>
                </div>
            {{/each}}

        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="h1 mb-5">Perfiles</div>
            </div>
            <div class="col-sm-4 sm-text-right">
                <p class="mt-2 mb-5">
                    <!--<a href="#" class="load-gallery">Ver todas las fotos</a>-->
                </p>
            </div>
        </div>
        <div class="gallery-grid">

            {{#length perfiles 0}}
                <p class="mt-2 mb-5" style="font-style: italic">
                    Aun no hay agregados empleados
                </p>
            {{/length}}

            {{#each perfiles as |file index|}}
                <div class="photo-element {{#bigger index 8}}hidden{{/bigger}}">
                    <a href="{{file.direccion}}" target="_blank">
                        <img src={{file.direccion}} alt="{{index}}">
                    </a>
                    <span class="info">{{file.empleado.nombre}} {{file.empleado.apellidos}}</span>
                </div>
            {{/each}}

        </div>
    </div>
</section>